<%- include('../partials/head.ejs', {title:'Login'}) %> <%-
include('../partials/header.ejs') %>
<form id="login-form">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Login</button>
</form>
<script>
    const form = document.getElementById('login-form');
    form.addEventListener('submit', (ev) => {
        ev.preventDefault();

        const formData = new FormData(form);

        const dataToSend = {};
        formData.forEach((value, key) => (dataToSend[key] = value));

        const fetchApi = async () => {
            try {
                const res = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataToSend)
                });

                const { token } = await res.json();
                window.localStorage.setItem('jwt', JSON.stringify(token));

                window.location = '/profile';
            } catch (err) {
                console.log(err);
            }
        };
        fetchApi();
    });
</script>
