<%- include('../partials/head.ejs', {title:'Register'}) %> <%-
include('../partials/header.ejs') %>
<form enctype="multipart/form-data" id="register-form">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="image">Image:</label>
    <input type="file" name="image" id="image" required />
    <button type="submit">Register</button>
</form>
<script>
    const form = document.getElementById('register-form');
    form.addEventListener('submit', (ev) => {
        ev.preventDefault();

        const formData = new FormData(form);

        const fetchApi = async () => {
            try {
                const res = await fetch('/api/register', {
                    // headers: {
                    //     'Content-Type': 'multipart/form-data'
                    // },
                    method: 'POST',
                    body: formData
                });

                const resData = await res.json();
                console.log(resData);

                window.location = '/login';
            } catch (err) {
                console.log(err);
            }
        };
        fetchApi();
    });
</script>
