<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>STORAGE</title>
    </head>
    <body>
        <h1>Products: <%= products.length %></h1>
        <form
            action="/"
            method="POST"
            enctype="multipart/form-data"
            class="form"
        >
            <label
                >name:
                <input type="text" name="name" required />
            </label>
            <label
                >price:
                <input type="text" name="price" required />
            </label>
            <label
                >img:
                <input type="file" name="img" required />
            </label>
            <button type="submit">SEND</button>
        </form>
        <hr />
        <div>
            <% if (products.length === 0) { %>
            <P>Not products yet</P>
            <% } else {%> <% products.forEach(item => { %>
            <ul>
                <li><b>Name:</b> <%= item.name %></li>
                <li><b>Price:</b> <%= item.price %></li>
                <li>
                    <b>Thumbnail:</b>
                    <img
                        src="http://localhost:8080/images/<%= item.thumbnail %>"
                        alt="( ˇ෴ˇ )"
                        width="500"
                        height="300"
                    />
                </li>
            </ul>
            <hr />
            <% })} %>
        </div>
        <script>
            // POST strings
            // const form = document.querySelector('.form');
            // form.addEventListener('submit', (e) => {
            //     e.preventDefault();
            //     const formData = new FormData(form);
            //     const sendData = {};
            //     formData.forEach((value, key) => (sendData[key] = value));
            //     const post = async () => {
            //         try {
            //             await fetch('http://localhost:8080/', {
            //                 method: 'POST',
            //                 headers: {
            //                     'Content-Type': 'application/json'
            //                 },
            //                 body: JSON.stringify(sendData)
            //             });
            //         } catch (err) {
            //             console.log(err);
            //         }
            //     };
            //     post();
            // });

            // POST files + strings
            // const form = document.querySelector('.form');
            // form.addEventListener('submit', (e) => {
            //     e.preventDefault();
            //     const formData = new FormData(form);
            //     const post = async () => {
            //         try {
            //             await fetch('http://localhost:8080/', {
            //                 method: 'POST',
            //                 body: formData
            //             });
            //         } catch (err) {
            //             console.log(err);
            //         }
            //     };
            //     post();
            // });

            // Get APIrest
            // const req = async () => {
            //     try {
            //         const res = await fetch(
            //             'http://localhost:8080/api/products'
            //         );
            //         if (res.status === 200) {
            //             const data = await res.json();
            //             console.log(data);
            //         } else {
            //             throw new Error('>:(');
            //         }
            //     } catch (err) {
            //         console.log(err);
            //     }
            // };
            // req();
        </script>
    </body>
</html>
