<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CHAT</title>
    </head>
    <style>
        #chat {
            height: 50vh;
            width: 75vw;
            margin: auto;
            overflow: scroll;
        }
        #chat div {
            display: flex;
            padding: 0.2rem;
        }

        #chat div i {
            font-size: 0.8rem;
        }
    </style>
    <body>
        <div>
            <form id="form">
                <label
                    >Message:
                    <input type="text" required />
                </label>
                <button type="submit">SEND</button>
            </form>
            <hr />
            <div id="chat"></div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            const form = document.querySelector('#form');
            form.addEventListener('submit', (ev) => {
                ev.preventDefault();
                const message = { message: ev.target[0].value.trim() };
                socket.emit('message', message);
                ev.target[0].value = '';
            });

            // Listeners
            socket.on('allMessage', (data) => {
                const chat = document.querySelector('#chat');
                const div = document.createElement('div');
                data.map((message) => {
                    const data = `<div><i>@${message.id}</i></div><div><b>Message-------> ${message.message}</b></div>`;
                    div.innerHTML = data;
                    chat.appendChild(div);
                });
            });
        </script>
    </body>
</html>
