<html>
    <body>
        <main>
            <h1>Hello <%= username %>!</h1>
            <h2>Thank you!...</h2>
            <h3>Your account has been created successfully!</h3>
        </main>
    </body>
</html>
