.overlay {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

.modal {
	width: 20rem;
	background-color: white;
	border-radius: 1rem;
	padding: 1.5rem;
}
